<h2>Setup</h2>

<div id="setup">

{: .card}
<div>
{: .card-block}
<div>
{: .card-title markdown="span"}
#### Create an mbed Account

  Go to the [mbed developer site](https://developer.mbed.org) and [create an account](https://developer.mbed.org/account/signup/?next=%2F).
  {: .card-text}

</div>
</div>
<p></p>

{: .card}
<div>
{: .card-block}
  <div>
{: .card-title markdown="span"}
#### How do you want to develop?

{: style="text-align: center;"}
  <div>
{: .btn-group #online-or-offline role="group"}
  <div>
  {::nomarkdown}
    <button class="btn btn-outline-primary" type="button" 
      data-toggle="collapse" data-parent="#compile" data-target="#online-compile" 
      aria-controls="online-compile">Online</button>
    <button class="btn btn-outline-primary" type="button" 
      data-toggle="collapse" data-parent="#compile" data-target="#offline-compile" 
      aria-controls="offline-compile">Offline</button>
  {:/}
  </div>
</div>
</div>
</div>
<p></p>

{: #compile aria-multiselectable="true"}
<div>

{% include online.md %}

{% include offline.md %}

</div>
</div>
<p></p>