// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #00a960 !default; //#155799
$header-bg-color-secondary: #128cab !default; //#159957
$brand-primary: #128cab;

// Text
$section-headings-color: #00a960 !default; //#159957
$body-text-color: #606c71 !default;
$body-link-color: #128cab !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
