// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #00a960 !default; //#155799
$header-bg-color-secondary: #128cab !default; //#159957
$brand-primary: #128cab;
$brand-secondary: #00a960;

// Text
$section-headings-color: #00a960 !default; //#159957
$body-text-color: #606c71 !default;
$body-link-color: #00a960 !default; //#128cab
$blockquote-text-color: #819198 !default;

// Code
$pre-bg-color: #3A3C42 !default; //#f7f7f7 !default;
$pre-text-color: #f8f8f2 !default; //#333 !default;

$code-bg-color: #f7f7f7 !default; //lighten(#128cab, 61%) !default;
$code-text-color: #333 !default;

// Borders
$border-color: #d3d3d3 !default; // #dce6f0
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
